workflows/n8n/rosalynn-beo-dead-letter-reconcile-v1.json
{
  "name": "rosalynn-beo-dead-letter-reconcile-v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$env.INTERNAL_API_BASE_URL}}/api/workflows/dead-letters?reason=terminal_status_write_failed&limit=100",
        "method": "GET"
      },
      "id": "fetch-dead-letters",
      "name": "Fetch Dead Letters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const entries = Array.isArray($json.entries) ? $json.entries : [];\nreturn entries.map(entry => ({ json: entry }));"
      },
      "id": "explode-entries",
      "name": "Explode Entries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$env.INTERNAL_API_BASE_URL}}/api/workflows/dead-letters/replay",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { reason: 'terminal_status_write_failed', id: $json.id, resolvedBy: 'n8n-reconcile-job' } }}"
      },
      "id": "replay-entry",
      "name": "Replay Entry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$env.INTERNAL_API_BASE_URL}}/api/workflows/guarded-action",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { eventId: $json.eventId, runId: $json.runId, action: 'dead_letter_replay', actorRole: 'ops-manager' } }}"
      },
      "id": "authorize-dead-letter-replay",
      "name": "Authorize Dead Letter Replay",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        120
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Dead Letters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Dead Letters": {
      "main": [
        [
          {
            "node": "Explode Entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Entries": {
      "main": [
        [
          {
            "node": "Authorize Dead Letter Replay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorize Dead Letter Replay": {
      "main": [
        [
          {
            "node": "Replay Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
